.control-size-25 {
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-50 {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-75 {
    width: 75px;
    max-width: 75px;
    min-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-100 {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-125 {
    width: 125px;
    max-width: 125px;
    min-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-150 {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-200 {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-225 {
    width: 225px;
    max-width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-250 {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-275 {
    width: 275px;
    max-width: 275px;
    min-width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-300 {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-350 {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-400 {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-500 {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.control-size-600 {
    width: 600px;
    max-width: 600px;
    min-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.size-100 {
    max-width: 100px;
    min-width: 100px;
}
.size-125 {
    max-width: 125px;
    min-width: 125px;
}
.size-150 {
    max-width: 150px;
    min-width: 150px;
}
.size-200 {
    max-width: 200px;
    min-width: 200px;
}
.size-225 {
    max-width: 225px;
    min-width: 225px;
}
.size-250 {
    max-width: 250px;
    min-width: 250px;
}
.size-300 {
    max-width: 250px;
    min-width: 250px;
}
.size-550 {
    max-width: 550px;
    min-width: 550px;
}
.min-size-25 {
    min-width: 25px;
}
.min-size-75 {
    min-width: 75px;
}
.min-size-100 {
    min-width: 100px;
}
.min-size-125 {
    min-width: 125px;
}
.min-size-150 {
    min-width: 150px;
}
.min-size-200 {
    min-width: 200px;
}
.min-size-225 {
    min-width: 225px;
}
.min-size-250 {
    min-width: 250px;
}
.min-size-300 {
    min-width: 250px;
}
.min-size-550 {
    min-width: 550px;
}

.no-padding {
    padding: 0px !important;
}
.dataTables_scrollBody {
    background: #ecf0f1!important;
}
table.dataTable.display>tbody>tr {
    background-color: white;
}

table.dataTable.display>tbody>tr.selected>td>.w3-text-flat-turquoise {
    color: #fff !important;

}table.dataTable.display>tbody>tr.selected>td>.w3-text-flat-turquoise:hover {
    color: #000 !important;
}
table.dataTable.display>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px #68706e63 !important;
}
table.dataTable.display>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px #68706e63 !important;
}
table.dataTable.display>tbody>tr.even.selected>* {
    box-shadow: inset 0 0 0 9999px #68706e84 !important;
}
table.dataTable.display>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px #4c525186 !important;
}

/* from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ by Dominic Fraser */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

/* --------------------------------------------------------------------------------------------------------------- */