{% extends 'base.html' %}

{################################################################}
{# from https://github.com/mbr/flask-bootstrap #}

{% macro form_errors(form, hiddens=True) %}
    {%- if form.errors %}
        {%- for fieldname, errors in form.errors.items() %}
            {%- if is_hidden_field(form[fieldname]) and hiddens or
                not is_hidden_field(form[fieldname]) and hiddens != 'only' %}
                {%- for error in errors %}
                    <p class="error">{{error}}</p>
                {%- endfor %}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endmacro %}
            
{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False, required=False) %}
    {% if form_type == "horizontal" %}
        {% if add_group %}<div class="form-group{% if required %} required{% endif %}">{% endif %}
        <div class="col-{{horizontal_columns[0]}}-offset-{{horizontal_columns[1]}}
            col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}">
    {% endif %}
        {{ caller() }}
                
    {% if form_type == "horizontal" %}
        {% if add_group %}</div>{% endif %}
        </div>
    {% endif %}
{% endmacro %}
        
{% macro form_field(field,
    form_type="basic",
    horizontal_columns=('lg', 2, 10),
    button_map={}) %}

    {% set required = False %}
    {% if field.flags.required %}
        {% set required = True %}
    {% endif %}
    
    {% if field.widget.input_type == 'checkbox' %}
        {% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %}
            <div class="checkbox w3-padding">
                <label class="w3-text-flat-green-sea" style="font-weight: bold;">
                    {{field()|safe}} {{field.label.text|safe}}
                </label>
            </div>
        {% endcall %}
    {%- elif field.type == 'RadioField' -%}
        {% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %}
            {% for item in field -%}
                <div class="radio w3-padding">
                    <label class="w3-text-flat-green-sea" style="font-weight: bold;">
                        {{item|safe}} {{item.label.text|safe}}
                    </label>
                </div>
            {% endfor %}
        {% endcall %}
    {%- elif field.type == 'SubmitField' -%}
        {% set field_kwargs = kwargs %}
        {% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %}
            {{field(class='w3-button w3-flat-green-sea w3-hover-flat-turquoise', **field_kwargs)}}
        {% endcall %}
    {%- elif field.type == 'FormField' -%}
        <fieldset>
            <legend>{{field.label}}</legend>
            {%- for subfield in field %}
                {% if not is_hidden_field(subfield) -%}
                    {{ form_field(subfield, form_type=form_type, horizontal_columns=horizontal_columns, button_map=button_map) }}
                {%- endif %}
            {%- endfor %}
        </fieldset>
    {% else -%}
        <div class="form-group w3-padding">
        {{field.label(required=required,class="w3-text-flat-green-sea", style="font-weight: bold;")|safe}}
        {%- if field.errors %}
            {%- for error in field.errors %}
                <div class="w3-small w3-text-flat-alizarin"><i class="fas fa-exclamation-circle"></i> {{error}}</div>
            {%- endfor %}
        {%- elif field.description -%}
            <p class="help-block">{{field.description|safe}}</p>
        {%- endif %}
        {% if field.type == 'FileField' %}
            {{field(**kwargs)|safe}}
        {% else %}
            {{field(class="w3-input w3-border w3-round", **kwargs)|safe}}
        {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro quick_form(form,
    action="",
    method="post",
    extra_classes=None,
    role="form",
    form_type="basic",
    horizontal_columns=('lg', 2, 10),
    enctype=None,
    button_map={},
    id="",
    novalidate=False,
    render_kw={}) %}

    {%- set _enctype = [] %}
    {%- if enctype is none -%}
        {%- for field in form %}
            {%- if field.type == 'FileField' %}
                {%- set _ = _enctype.append('multipart/form-data') -%}
            {%- endif %}
        {%- endfor %}
    {%- else %}
        {% set _ = _enctype.append(enctype) %}
    {%- endif %}
    <form
        {%- if action != None %} action="{{action}}"{% endif -%}
        {%- if id %} id="{{id}}"{% endif -%}
        {%- if method %} method="{{method}}"{% endif %}
        class="form
        {%- if extra_classes %} {{extra_classes}}{% endif -%}
        {%- if form_type == "horizontal" %} form-horizontal
        {%- elif form_type == "inline" %} form-inline
        {%- endif -%}
        "
        {%- if _enctype[0] %} enctype="{{_enctype[0]}}"{% endif -%}
        {%- if role %} role="{{role}}"{% endif -%}
        {%- if novalidate %} novalidate{% endif -%}
        {%- if render_kw %} {{render_kw|xmlattr}}{% endif -%}
        >
        
        {{ form.hidden_tag() }}
        {{ form_errors(form, hiddens='only') }}

        {%- for field in form %}
            {% if not is_hidden_field(field) -%}
                {{ form_field(field,
                    form_type=form_type,
                    horizontal_columns=horizontal_columns,
                    button_map=button_map) }}
            {%- endif %}
        {%- endfor %}
    </form>
{%- endmacro %}
    
{################################################################}

{% block static %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
    <link href="{{ url_for('static', filename='select2/css/select2.min.css') }}" rel="stylesheet" />


    <link href="{{ url_for('static', filename='seal/analysis/create_sample.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.j2' %}
    <div class="w3-main">
        <div class="w3-padding w3-mobile">
            <div class="w3-card w3-padding w3-mobile">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h3>{{ form.title.upper() }}</h3>
                            <hr>
                            {{ quick_form(form, id="form-new-sample") }}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='select2/js/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='seal/analysis/create_sample.js') }}"></script>
{% endblock %}
