{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
    <link href="{{ url_for('static', filename='select2/css/select2.min.css') }}" rel="stylesheet" />

    <link href="{{ url_for('static', filename='seal/analysis/panel.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.j2' %}
    <div class="w3-main">
        <div class="w3-padding w3-mobile">
            <div class="w3-card w3-padding w3-mobile">
                <div class="w3-container w3-border-bottom">
                    <h3>View A Panel</h3>
                </div>

                <div class="w3-margin-top">
                    <div class="w3-container">
                        <div class="w3-col w3-padding w3-text-flat-green-sea" style="width:200px"><i class="w3-xlarge fas fa-th-list"></i> <b>Choose a panel</b></div>
                        <select id="selectBed" class="w3-select w3-border w3-col m3 l2 s6" onchange="view_panel(value);">
                        </select>
                    </div>
                    <div class="w3-padding w3-small">
                        <table id="regions" class="w3-table display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Chromosome</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Chromosome</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Name</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding w3-mobile">
            <div class="w3-card w3-padding w3-mobile">
                <div class="w3-container w3-border-bottom">
                    <h3>Upload A New Panel</h3>
                </div>

                <form class="w3-container"  action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="w3-row w3-section">
                        <div class="w3-col w3-display-container w3-text-flat-green-sea w3-margin-right" style="width:190px">
                            <i class="w3-xxlarge fas fa-tag"></i> {{ form.name.label(class="w3-display-right", style="font-weight: bold;")}}
                        </div>
                        <div class="w3-rest">
                            {% if form.name.errors %}
                                {{ form.name(class="w3-input w3-border w3-border-red") }}
                                <div class="w3-small w3-text-flat-alizarin">
                                    {% for error in form.name.errors %}
                                        <i class="fas fa-exclamation-circle"></i> {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="w3-input w3-border") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="w3-row w3-section w3-display-container">
                        <div class="w3-middle w3-col w3-display-container w3-text-flat-green-sea w3-margin-right" style="width:190px"><i class="w3-xxlarge fas fa-users"></i> {{ form.teams.label(class="w3-display-right", style="font-weight: bold;")}}</div>
                        <div class="w3-rest">
                            {% if form.teams.errors %}
                                {{ form.teams(class="w3-input w3-border w3-border-red") }}
                                <div class="w3-small w3-text-flat-alizarin">
                                    {% for error in form.teams.errors %}
                                        <i class="fas fa-exclamation-circle"></i> {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.teams(class="js-example-basic-multiple", multiple="multiple", style="width:100%") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="w3-row w3-section">
                        <div class="w3-col w3-display-container w3-text-flat-green-sea w3-margin-right" style="width:190px"><i class="w3-xxlarge fas fa-file-alt"></i> {{ form.bed.label(class="w3-display-right", style="font-weight: bold;")}}</div>
                        <div class="w3-rest">
                            {% if form.bed.errors %}
                                {{ form.bed(class="w3-input w3-border-0 w3-text-red") }}
                                <div class="w3-small w3-text-flat-alizarin">
                                    {% for error in form.bed.errors %}
                                        <i class="fas fa-exclamation-circle"></i> {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.bed(class="w3-input w3-border-0") }}
                            {% endif %}
                        </div>
                    </div>


                    <div class="w3-section w3-center">
                        {{ form.submit(class="w3-button w3-flat-green-sea w3-hover-flat-turquoise") }}
                    </div>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='select2/js/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='seal/analysis/panel.js') }}"></script>
{% endblock %}
