<!DOCTYPE html>

<html>
	<head>
		<title>SEAL - {{ title }}</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

		<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='seal.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='balloon.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.10.1-web/css/all.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='logo-font/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />

		<script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

		{% block static %}
		{% endblock %}
	</head>

	<body>

		<header class="w3-bar w3-top w3-flat-green-sea w3-left-align w3-large" style="z-index:10">
			<div class="w3-bar w3-flat-green-sea w3-left-align w3-large">
				<span class="w3-button w3-hide-large w3-padding-large w3-hover-flat-turquoise w3-left" onclick="w3_open()"><i class="fa fa-bars"></i></span>
				<a href="{{ url_for('index') }}" class="w3-bar-item w3-padding-large w3-hover-flat-turquoise w3-left" aria-label="Home" data-balloon-pos="right"><span class="icon-seal"></span> SEAL</a>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('logout') }}" class="w3-bar-item w3-padding-large w3-hover-flat-turquoise w3-right" aria-label="Logout" data-balloon-pos="left"><i class="fas fa-sign-out-alt"></i></a>
					{% if current_user.admin %}
						<a href="{{ url_for('admin.index') }}" class="w3-bar-item w3-padding-large w3-hover-flat-turquoise w3-right" aria-label="Administrator Tools" data-balloon-pos="left"><i class="fas fa-tools"></i></a>
					{% endif %}
				<a href="{{ url_for('transcripts') }}" class="w3-bar-item w3-padding-large w3-hover-flat-turquoise w3-right" aria-label="Transcripts" data-balloon-pos="left"><i class="fas fa-dna"></i></a>
				<a href="{{ url_for('account') }}" class="w3-bar-item w3-padding-arge w3-hover-flat-turquoise w3-right" aria-label="My Account" data-balloon-pos="left">
					<img src="{{ url_for('static', filename='images/profile/') }}{{ current_user.image_file }}" alt="Avatar" style="width:35px; height:35px" style="padding:0px" class="w3-white w3-circle">
				</a>
				{% else %}
				<a href="{{ url_for('login') }}" class="w3-bar-item w3-padding-large w3-hover-flat-turquoise w3-right" aria-label="Login" data-balloon-pos="left"><i class="fas fa-sign-in-alt"></i></a>
				{% endif %}
			</div>
		</header>

		<section class="w3-text-dark-gray" style="padding-top:51px;margin-bottom:51px">
				{% block content %}{% endblock %}
		</section>

		<!-- Footer -->
		<footer class="w3-bottom w3-container w3-padding w3-center w3-flat-clouds w3-border-top" style="z-index:10">
			<p class="w3-small w3-text-grey" style="margin:0px">
				<a href="{{ url_for('index') }}" class="w3-hover-text-black"><span class="icon-seal"></span>
				<span class="w3-hide-small w3-hide-medium">System of Experiments & Analysis for the Lab</span>
				<span class="w3-hide-large w3-hide-small">SEAL</span></a> |
				<a href="{{ url_for('about') }}" class="w3-hover-text-black">About</a> |
				<a href="{{ url_for('contact') }}" class="w3-hover-text-black">Contact</a>
			</p>
		</footer>

		<script type="text/javascript">
			$(document).on("mouseenter", ".showTitle", function() {
				$(this).attr('title', this.innerText);
			});
		</script>

		{% block script %}{% endblock %}
	</body>
</html>
