
<div class="w3-dropdown-hover" style="background-color:transparent !important;">
    <button class="w3-button w3-white button-status w3-border" style=" width:222px">
    {% if sample.status == 1 %}
        <span class="w3-text-flat-peter-river">
            <i class="fas fa-user-clock"></i> <i><b>New Sample</b> <i class="fas fa-sort-down"></i></i>
        </span>
    {% elif sample.status == 2 %}
        <span class="w3-text-flat-peter-river">
            <i class="fas fa-user-edit"></i> <i><b>Processing</b> <i class="fas fa-sort-down"></i></i>
        </span>
    {% elif sample.status == 3 %}
        <span class="w3-text-flat-emerald">
            <i class="fas fa-user-check"></i> <i><b>Interpreted</b> <i class="fas fa-sort-down"></i></i>
        </span>
    {% elif sample.status == 4 %}
        <span class="w3-text-flat-pumpkin">
            <i class="fas fa-user-lock"></i> <i><b>Validated</b> <i class="fas fa-sort-down"></i></i>
        </span>
    {% endif %}
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-border" style=" width:222px">
        <a {% if ((current_user.admin or current_user.biologist) or sample.status != 4) %}onclick="toggle_status('{{ sample.id }}', 1)"{% endif %}  class="{% if (not (current_user.admin or current_user.biologist) and sample.status == 4) %}w3-disabled{% endif %} w3-bar-item w3-button">
            <span class="w3-text-flat-peter-river">
                <i class="fas fa-user-clock"></i> <i><b>New Sample</b></i>
            </span>
        </a>
        <a {% if ((current_user.admin or current_user.biologist) or sample.status != 4) %}onclick="toggle_status('{{ sample.id }}', 2)"{% endif %}  class="{% if ((not current_user.admin and not current_user.biologist) and sample.status == 4) %}w3-disabled{% endif %} w3-bar-item w3-button">
            <span class="w3-text-flat-peter-river">
                <i class="fas fa-user-edit"></i> <i><b>Processing</b></i>
            </span>
        </a>
        <a {% if ((current_user.admin or current_user.biologist) or sample.status != 4) %}onclick="toggle_status('{{ sample.id }}', 3)"{% endif %} class="{% if ((not current_user.admin and not current_user.biologist) and sample.status == 4) %}w3-disabled{% endif %} w3-bar-item w3-button">
            <span class="w3-text-flat-emerald">
                <i class="fas fa-user-check"></i> <i><b>Interpreted</b></i>
            </span>
        </a>
        <a {% if (current_user.admin or current_user.biologist) %}onclick="toggle_status('{{ sample.id }}', 4)"{% endif %} class="{% if (not current_user.admin and not current_user.biologist) %}w3-disabled{% endif %} w3-bar-item w3-button">
            <span class="w3-text-flat-pumpkin">
                <i class="fas fa-user-lock"></i> <i><b>Validated</b></i>
            </span>
        </a>
    </div>
</div>