

<!-- Sidebar/menu -->

<nav class="{% if sample.status == 5 %}w3-disabled {% endif %}w3-sidebar w3-bar-block w3-flat-clouds" style="z-index:5;width:350px;display:{% if current_user.sidebar %}block{% else %}none{% endif %}" id="sidebar">
	<div class="w3-container" style="margin-bottom:85px">
		{% include "includes/flash.j2" %}
		<div class="w3-row w3-display-container w3-margin" style="overflow-wrap: anywhere;">
            <h3>
                <div id="sample-name-sidebar" class="w3-cell-row">
                    <div class="w3-center w3-container w3-cell" style="width:40px;padding: 0px !important;">
                        <i class="fas fa-user-edit"></i>
                    </div>
                    <div class="{% if sample.status == 4 %}w3-disabled {% endif %}w3-container w3-cell seal-form-report" id="edit-samplename">
                        <input id="edit-name" maxlength="20" minlength="2" type="text"  style="width:210px!important;" placeholder="samplename" value="{{ sample.samplename }}">
                    </div>
                    <div class="w3-center w3-container w3-cell" style="width:20px;padding: 0px !important;">
                        <i class="fas fa-check-square w3-text-flat-green-sea w3-hover-text-flat-turquoise" style="cursor: pointer;" onclick="edit_name()"></i>
                    </div>
                </div>
            </h3>
            <div >
                <span class="w3-row seal-form-toggle" {% if sample.status != 4 %}onclick="toggle_on_off('index')" style="cursor: pointer;"{% endif %}><i id="toggle-index" class="fas fa-toggle-{% if sample.index %}on w3-text-flat-green-sea{% else %}off{% endif%}"></i> Index</span>
                <span class="w3-row seal-form-toggle" {% if sample.status != 4 %}onclick="toggle_on_off('affected')" style="cursor: pointer;"{% endif %}><i id="toggle-affected" class="fas fa-toggle-{% if sample.affected %}on w3-text-flat-green-sea{% else %}off{% endif%}"></i> Affected</span>
            </div>
            <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; ">
            {% if sample.family %}
            <h6>
                <div class="w3-cell-row">
                    <div class="w3-center w3-container w3-cell" style="width:40px;padding: 0px !important;">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="w3-container w3-cell">
                        <i>{{ sample.family.family }}</i>
                    </div>
                </div>
            </h6>
            <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; ">
            {% endif %}
            {% if sample.run %}
            <h6>
                <div class="w3-cell-row">
                    <div class="w3-center w3-container w3-cell" style="width:40px;padding: 0px !important;">
                        <i class="fas fa-digital-tachograph"></i>
                    </div>
                    <div class="w3-container w3-cell">
                        <i>{{ sample.run.name }}</i>
                        {% if sample.run.alias %}<br><b>{{ sample.run.alias }}</b>{% endif %}
                    </div>
                </div>
            </h6>
            <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; ">
            {% endif %}
            {% if sample.teams %}
                <div class="w3-cell-row w3-margin-bottom">
                    <div class="w3-center w3-container w3-cell" style="width:40px;padding: 0px !important;">
                        <i class="fas fa-tags"></i>
                    </div>
                    <div class="w3-container w3-cell">
                        Team(s) associated :
                    </div>
                </div>
                {% for team in sample.teams %}
                    <span class='w3-tag' style='max-width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; background-color:{{ team.color}}'>{{ team.teamname }}</span>
                {% endfor %}
                <hr style="display: block; height: 1px;
            border: 0; border-top: 1px solid #ccc;
            margin: 1em 0; padding: 0; ">
            {% endif %}
            {% include 'includes/button-status-sample.j2' %}
    </div>
    <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; ">

    <div class="w3-container">
        <h3><i class="w3-large fas fa-history"></i> History</h3>
        <div id="historyTableSample" class="w3-tiny">
            <table id="tableHistorySample" class="w3-table-all w3-card" cellpadding="5" cellspacing="0" border="0" style="width:100%">
                <thead class="w3-flat-silver">
                    <tr>
                        <th class="w3-flat-silver no-sort" style="width:20%">User</th>
                        <th class="w3-flat-silver no-sort" style="width:60%">Action</th>
                        <th class="w3-flat-silver" style="width:20%">Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</nav>

<div class="w3-overlay  w3-animate-opacity" onclick="w3_toggle_menu()" style="z-index:4;cursor:pointer" title="close side menu" id="overlay"></div>

<!-- End Sidebar/menu -->
