{% extends 'base.html' %}

{% block content %}
	{% include 'includes/sidebar.j2' %}
	<div class="w3-main w3-padding" style="margin-left:350px">
		<div class="w3-half w3-padding w3-mobile">
			<div class="w3-card w3-padding w3-mobile">
				<div class="w3-container w3-border-bottom">
					<h3>Update account</h3>
				</div>
				<form class="w3-container"  action="" method="post" enctype="multipart/form-data">
					{{ update_account_form.hidden_tag() }}
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
						<div class="w3-rest">
							{% if update_account_form.username.errors %}
								{{ update_account_form.username(class="w3-input w3-border w3-border-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_account_form.username.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_account_form.username(class="w3-input w3-border") }}
							{% endif %}
						</div>
					</div>
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea" style="width:50px"><i class="w3-xxlarge fas fa-envelope"></i></div>
						<div class="w3-rest">
							{% if update_account_form.mail.errors %}
								{{ update_account_form.mail(class="w3-input w3-border w3-border-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_account_form.mail.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_account_form.mail(class="w3-input w3-border") }}
							{% endif %}
						</div>
					</div>
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea" style="width:50px"><i class="w3-xxlarge fas fa-camera"></i></div>
						<div class="w3-rest">
							{% if update_account_form.image_file.errors %}
								{{ update_account_form.image_file(class="w3-input w3-border-0 w3-text-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_account_form.image_file.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_account_form.image_file(class="w3-input w3-border-0") }}
							{% endif %}
						</div>
					</div>

					<div class="w3-section w3-center">
						{{ update_account_form.submit_update(class="w3-button w3-flat-green-sea w3-hover-flat-turquoise") }}
					</div>
				</form>
			</div>
		</div>

		<div class="w3-half w3-padding ">
			<div class="w3-card w3-padding ">
				<div class="w3-container w3-border-bottom">
					<h3>Update Password</h3>
				</div>
				<form class="w3-container"  action="" method="post" enctype="multipart/form-data">
					{{ update_password_form.hidden_tag() }}
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea w3-center" style="width:100px"><b>{{ update_password_form.old_password.label() }}</b></div>
						<div class="w3-rest">
							{% if update_password_form.old_password.errors %}
								{{ update_password_form.old_password(class="w3-input w3-border w3-border-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_password_form.old_password.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_password_form.old_password(class="w3-input w3-border") }}
							{% endif %}
						</div>
					</div>
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea w3-center" style="width:100px"><b>{{ update_password_form.new_password.label() }}</b></div>
						<div class="w3-rest">
							{% if update_password_form.new_password.errors %}
								{{ update_password_form.new_password(class="w3-input w3-border w3-border-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_password_form.new_password.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_password_form.new_password(class="w3-input w3-border") }}
							{% endif %}
						</div>
					</div>
					<div class="w3-row w3-section">
						<div class="w3-col w3-text-flat-green-sea w3-center" style="width:100px"><b>{{ update_password_form.confirm_password.label() }}</b></div>
						<div class="w3-rest">
							{% if update_password_form.confirm_password.errors %}
								{{ update_password_form.confirm_password(class="w3-input w3-border w3-border-red") }}
								<div class="w3-small w3-text-flat-alizarin">
									{% for error in update_password_form.confirm_password.errors %}
										<i class="fas fa-exclamation-circle"></i> {{ error }}
									{% endfor %}
								</div>
							{% else %}
								{{ update_password_form.confirm_password(class="w3-input w3-border") }}
							{% endif %}
						</div>
					</div>

					<div class="w3-section w3-center">
						{{ update_password_form.submit_password(class="w3-button w3-flat-green-sea w3-hover-flat-turquoise") }}
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
<script type="text/javascript">	
	// Script to open and close sidebar
	function w3_open() {
		document.getElementById("sidebar").style.display = "block";
		document.getElementById("overlay").style.display = "block";
	}

	function w3_close() {
		document.getElementById("sidebar").style.display = "none";
		document.getElementById("overlay").style.display = "none";
	}
</script>
{% endblock %}
