{% extends admin_base_template %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='logo-font/style.css') }}" />
  <script defer src="{{ url_for('static', filename='fontawesome-free-5/js/all.js') }}"></script>

{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ url_for('index') }}"><span class="icon-seal"></span> SEAL</a>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a class="nav navbar-nav navbar-left" href="{{ admin_view.admin.url }}">{{ admin_view.admin.name }}</a>
        </li>
    </ul>
{% endblock %}