.w3-modal {
    z-index: 7;
}

.dataTables_scrollHeadInner .seal-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#variants tr td {
    height: 29px;
}
.toolbar-variants {
    padding:9px;
}
div.dataTables_processing {
    margin-top:13px !important;
    z-index:3 !important;
    /* padding:19px !important; */
    visibility: visible !important;
}
div.dataTables_processing span{
    padding:1px 20px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 10px;
}
#barPopulation > div > div > svg:nth-child(1) > g.cartesianlayer > g > g.plot > g > g > g > g > path {
    clip-path: inset(0% 0% round 50px 50px 0% 0%);
}