.w3-modal {
    z-index: 7;
}

.dataTables_scrollHeadInner .seal-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#variants tr td {
    height: 29px;
}
.toolbar-variants {
    padding:9px
}