{% extends 'base.html' %}

{% block content %}
	<div class="w3-content">
		<h2>About</h2>

		<p>Welcome to SEAL (<i>System of Experiments & Analysis for the Lab</i>), a new source for Genomics Analysis.
		We're dedicated to giving you the very best of Genomics Analysis, with a focus
		on variant interpretation, user friendly interface, easy to deploy and maintain.</p>

		<p>Released in 2020 by MoBiDiC, SEAL has come a long way from its beginnings in 2020.
		When MoBiDiC first started out, their passion to improving the genetic
		diagnosis drove them to developped a lot of tools so that SEAL can offer
		you the best analysis experience.</p>

		<p>We hope you enjoy our system as much as we enjoy offering it to you.
		If you have any questions or comments, please don't hesitate to contact us.</p>

		<p>SEAL is developed and maintained by the MoBiDiC group of the Montpellier University Hospital.</p>

		<p><span class="icon-seal"></span><i> Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik" target=“_blank” style="text-decoration:underline">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target=“_blank” style="text-decoration:underline">www.flaticon.com</a></p>

		<h3>Technical information</h3>

		<p>Our solution is mainly based on these tools/technologies :</p>

		<ul>
			<li><a style="text-decoration:underline" href="https://github.com" target="_blank" title="Github">GitHub</a></li>
			<li><a style="text-decoration:underline" href="https://docs.conda.io/en/latest/" target="_blank" title="Conda">Conda</a></li>
			<li><a style="text-decoration:underline" href="https://datatables.net/" target="_blank" title="DataTables">DataTables</a></li>
			<li><a style="text-decoration:underline" href="https://fontawesome.com/" target="_blank" title="Font Awesome">Font Awesome</a></li>
			<li><a style="text-decoration:underline" href="https://www.w3schools.com/w3css/default.asp" target="_blank" title="W3.CSS">W3.CSS</a></li>
			<li><a style="text-decoration:underline" href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" title="Flask">Flask</a></li>
			<ul>
				<li>flask-sqlalchemy</li>
			  	<li>flask-wtf</li>
			  	<li>flask-bcrypt</li>
			  	<li>flask-login</li>
			  	<li>flask-apscheduler</li>
			  	<li>flask-testing</li>
			  	<li>flask-restful</li>
			</ul>
			<li><a style="text-decoration:underline" href="https://grch37.ensembl.org/info/docs/tools/vep/index.html" target="_blank" title="VEP">VEP</a></li>
			<ul>
				<li>dbNSFP</li>
				<li>MaxEntScan</li>
				<li>SpliceAI</li>
				<li>dbscSNV</li>
				<li>gnomad</li>
			</ul>
		</ul>
	</div>
{% endblock %}
