{% extends 'base.html' %}

{% block content %}
	<div class="w3-content">
		<h2>About</h2>
		<p>SEAL stands for <i>System of Experiments & Analysis for the Lab</i>.</p>
		<p>SEAL is a flask app to manage our NGS data (but it can be applied to every teams).</p>
		<p>It is developped and maintened by the MoBiDiC group from the Montpellier's University Hospital.</p>
		<p><span class="icon-seal"></span><i> Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik" target=“_blank” style="text-decoration:underline">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target=“_blank” style="text-decoration:underline">www.flaticon.com</a></p>
	</div>
{% endblock %}
