{% extends 'base.html' %}

{% block static %}
    <link href="{{ url_for('static', filename='seal/essentials/about.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.j2' %}
    <div class="w3-main" {% if current_user.sidebar %}style="margin-left:350px"{% endif %}>
        <div class="w3-content w3-padding">
            <h2>About</h2>

            <p>Welcome to SEAL db (<i>Simple, Efficient And Lite database for NGS</i>), a new source for Genomics Analysis.
            We're dedicated to giving you the very best of Genomics Analysis, with a focus
            on variant interpretation, user friendly interface, easy to deploy and maintain.</p>

            <p>Released in 2020 by MoBiDiC, SEAL has come a long way from its beginnings in 2020.
            When MoBiDiC first started out, their passion to improving the genetic
            diagnosis drove them to developped a lot of tools so that SEAL can offer
            you the best analysis experience.</p>

            <p>We hope you enjoy our system as much as we enjoy offering it to you.
            If you have any questions or comments, please don't hesitate to contact us.</p>

            <p>SEAL is developed and maintained by the MoBiDiC group of the Montpellier University Hospital.</p>

            <p><span class="icon-seal"></span><i> Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik" target=“_blank” style="text-decoration:underline">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target=“_blank” style="text-decoration:underline">www.flaticon.com</a></i></p>

            <h3>Technical information</h3>

            <p>Our solution is mainly based on these tools/technologies :</p>

            <ul>
                <li><a style="text-decoration:underline" href="https://github.com" target="_blank" title="Github">GitHub</a></li>
                <li><a style="text-decoration:underline" href="https://docs.conda.io/en/latest/" target="_blank" title="Conda">Conda</a></li>
                <li><a style="text-decoration:underline" href="https://datatables.net/" target="_blank" title="DataTables">DataTables</a></li>
                <li><a style="text-decoration:underline" href="https://fontawesome.com/" target="_blank" title="Font Awesome">Font Awesome</a></li>
                <li><a style="text-decoration:underline" href="https://www.w3schools.com/w3css/default.asp" target="_blank" title="W3.CSS">W3.CSS</a></li>
                <li><a style="text-decoration:underline" href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" title="Flask">Flask</a></li>
                <ul>
                    <li>flask-sqlalchemy</li>
                    <li>flask-wtf</li>
                    <li>flask-bcrypt</li>
                    <li>flask-login</li>
                    <li>flask-apscheduler</li>
                    <li>flask-testing</li>
                    <li>flask-restful</li>
                </ul>
                <li><a style="text-decoration:underline" href="https://grch37.ensembl.org/info/docs/tools/vep/index.html" target="_blank" title="VEP">VEP</a></li>
                <ul>
                    <li>dbNSFP</li>
                    <li>MaxEntScan</li>
                    <li>SpliceAI</li>
                    <li>dbscSNV</li>
                    <li>gnomad</li>
                </ul>
            </ul>
        </div>

        <div id="releases" class="w3-content w3-padding">
            <h2>Releases</h2>
            <div id="releases-notes" class="w3-small">
                <div class="w3-panel w3-leftbar w3-blue">
                    <h3>dev - Current Realease</h3>
                    <p></p>

                    <h4>New Features</h4>

                    <ul>
                        <li><b>Add Hide variant in database</b>: keep variant hidden when reload page</li>
                        <li><b>Redraw cell</b> when changes are made</li>
                        <li><b>Add Last Action</b> for samples : sorts the sample table by modification date</li>
                        <li><b>Add Releases Note</b> in about page</li>
                        <li>Other minor front-end enhancements</li>
                    </ul>

                    <h4>Fixes</h4>

                    <ul>
                        <li><b>AjaxSetup</b>: call this method once</li>
                        <li><b>Add default date</b>: for tables History, Comment_sample and Comment_variant</li>
                    </ul>

                    <h4>Other Changes</h4>

                    <ul>
                        <li><b>Occurences</b>: hits now come from the entire database</li>
                        <li><b>Documentation</b></li>
                    </ul>


                    <h4>Known Issues</h4>

                    <ul>
                        <li><b>Initialisation of database</b></li>
                    </ul>
                </div>

                <div class="w3-panel w3-leftbar w3-pale-blue w3-text-gray">
                    <h3>v1.1.3 [June 13, 2023]</h3>
                    <p>This minor version mainly enhances the interface to improve the user experience.</p>

                    <h4>New Features</h4>

                    <ul>
                        <li><b>Add new status</b> : Archived</li>
                        <li><b>Better table variant</b></li>
                        <ul>
                            <li>Add subheader</li>
                            <li>Reorder, delete and merge columns</li>
                            <li>Add some extra links (Franklin & GnomAD)</li>
                            <li>Add SweetAlert</li>
                            <li>Add possibility to hide some rows</li>
                            <li>Add possibility to edit filter</li>
                        </ul>
                        <li>Other minor front-end enhancements</li>
                    </ul>

                    <h4>Fixes</h4>

                    <ul>
                        <li><b>Fix security issues</b></li>
                        <li><b>Fix status on sidebar</b></li>
                    </ul>

                    <h4>Known Issues</h4>

                    <ul>
                        <li><b>Initialisation of database</b></li>
                    </ul>
                </div>

                <div class="w3-panel w3-leftbar w3-pale-blue w3-text-gray">
                    <h3>v1.1.2 [March 1, 2023]</h3>
                    <p>This minor release features significant documentation improvements, as well as a few front-end tweaks to enhance usability and user experience.</p>

                    <h4>New Features</h4>

                    <ul>
                        <li><b>Frequency of variant calculate from "visible" sample (SEAL count)</b></li>
                        <li><b>Add warnings (banner) if not production version</b></li>
                        <li><b>Add ability to edit some sample fields </b></li>
                        <li><b>Use a config file to launch the app</b></li>
                    </ul>

                    <h4>Fixes</h4>

                    <ul>
                        <li><b>JSON Variant : Check if a sample id is provided</b></li>
                    </ul>

                    <h4>Other Changes</h4>

                    <ul>
                        <li><b>Upgrade DataTable</b></li>
                        <li><b>Improve handling exception in scheduler</b></li>
                        <li><b>Documentation</b></li>
                    </ul>

                    <h4>Known Issues</h4>

                    <ul>
                        <li><b>Initialisation of database</b></li>
                    </ul>
                </div>

                <div class="w3-panel w3-leftbar w3-pale-blue w3-text-gray">
                    <h3>v1.1.1 [February 15, 2023]</h3>
                    <p>This minor update brings a number of front-end improvements that are designed to enhance the user experience.</p>

                    <h4>Fixes</h4>

                    <ul>
                        <li><b>MobiDetails API key check</b></li>
                        <li><b>CSRF error redirection on login</b></li>
                        <li><b>Fixed Header of variant table</b></li>
                    </ul>

                    <h4>Other Changes</h4>

                    <ul>
                        <li><b>Upgrade DataTable</b></li>
                        <li><b>Add labels for update account view</b></li>
                        <li><b>Some Style</b></li>
                    </ul>

                    <h4>Known Issues</h4>

                    <ul>
                        <li><b>Initialisation of database</b></li>
                    </ul>
                </div>

                <div class="w3-panel w3-leftbar w3-pale-blue w3-text-gray">
                    <h3>v1.1.0 [February 6, 2023]</h3>
                    <p>We are excited to announce the new release of SEAL.
                    <br/>This update cames with a range of new features, bug fixes and improvements for better maintanability.
                    <br/>Read on for full details!</p>

                    <h4>New Features</h4>

                    <ul>
                        <li><b>History of samples (e9243df, a5f6d04)</b></li>
                        <li><b>Use of personal MobiDetails API key (620b470)</b></li>
                        <li><b>Comments on samples (0fce092, e32984c)</b></li>
                        <li><b>Filter and bed in sample form (6a0af55)</b></li>
                        <li><b>Export only reported variants (12e1582)</b></li>
                        <li><b>Maintenance mode (599aa56)</b></li>
                        <li><b>Ability to check panels (#19, 1e4e780)</b></li>
                    </ul>

                    <h4>Fixes</h4>

                    <ul>
                        <li><b>Filter variants on class and report (#21)</b></li>
                        <li><b>Password bug in admin interface (#29)</b></li>
                        <li><b>Exportation of datatables (#34)</b></li>
                        <li><b>Filter on clinsig (#36)</b></li>
                        <li><b>CSS fixes</b></li>
                    </ul>

                    <h4>Other Changes</h4>

                    <ul>
                        <li><b>Upgrade dependencies</b></li>
                        <li><b>Better maintainability</b></li>
                        <li><b>Select2 replacement</b></li>
                        <li><b>Auto-refresh</b></li>
                    </ul>

                    <h4>Known Issues</h4>

                    <ul>
                        <li><b>Initialisation of database</b></li>
                        <li><b>Fixed header of datatables when scrolling</b></li>
                    </ul>
                </div>

                <div class="w3-panel w3-leftbar w3-pale-blue w3-text-gray">
                    <h3>v1.0.0 [January 5, 2023]</h3>
                    <p>We are proud to announce the first official release of SEAL, a web application for analyzing and annotating genetic variants.</p>

                    <p>In this initial release, SEAL includes the following key features:</p>

                    <ul>
                        <li>An intuitive interface for uploading and managing VCF files</li>
                        <li>Annotation of variants using the Ensembl Variant Effect Predictor (VEP)</li>
                        <li>Sample and family management tools for tracking variant inheritance patterns</li>
                        <li>A rich set of visualizations and reports to help interpret variant data</li>
                    </ul>
                </div>
            </div>
        <div>
    </div>
{% endblock %}
