{% extends 'base.html' %}

{% block static %}
<style>
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: white;
        color: black;
        font-family: arial, sans-serif;
        overflow: hidden;
    }

    .content {
        position: relative;
        width: 600px;
        max-width: 100%;
        margin: 20px;
        background: white;
        padding: 60px 40px;
        text-align: center;
        box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
        opacity: 0;
        animation: apparition 1.8s 0.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
    }
    .content p {
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 0.6rem;
        letter-spacing: 0.1rem;
        color: #595959;
    }

    .particle {
        position: absolute;
        display: block;
        pointer-events: none;
    }

    @keyframes apparition {
        from {
            opacity: 0;
            transform: translateY(200%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(180px);
        }
    }
    @keyframes floatReverse {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-180px);
        }
    }
    @keyframes float2 {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(28px);
        }
    }
    @keyframes floatReverse2 {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-28px);
        }
    }
</style>
{% endblock %}

{% block content %}

    <div class="w3-main">
        <div id="float-div"></div>
        <div class="w3-content w3-display-middle w3-padding" style="width:100%;">
            <div class="w3-content w3-card-4 content" style="width:100%">

            <p>{{ e }}</p>
            <p>
                <a href="{{ url_for('index') }}" class="w3-btn" style="border:3px solid #595959; font-weight: bold">Go back home</a>
            </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var eCode = "{{ e.code }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='seal/essentials/error.js') }}"></script>
{% endblock %}
