{% extends 'base.html' %}

{% block static %}
	<style>
		.access:hover {
			cursor: pointer;
		}
		.disabled:hover {
			cursor: not-allowed;
		}
		.load:hover {
			cursor: wait;
		}
		.help:hover {
			cursor: help;
		}
	</style>
{% endblock %}

{% block content %}
	{% include 'includes/sidebar.j2' %}
	<div class="w3-main" style="margin-left:350px">
		<div class="w3-padding">
			<table id="samples" class="w3-table-all w3-hoverable" style="width:100%">
				<thead>
					<tr>
						<th class="w3-flat-green-sea"><div>Sample Name</div></th>
						<th class="w3-flat-green-sea"><div>Family</div></th>
						<th class="w3-flat-green-sea"><div>Run</div></th>
						<th class="w3-flat-green-sea"><div>Run Alias</div></th>
						<th class="w3-flat-green-sea"><div>Status</div></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th class="w3-flat-green-sea"><div>Sample Name</div></th>
						<th class="w3-flat-green-sea"><div>Family</div></th>
						<th class="w3-flat-green-sea"><div>Run</div></th>
						<th class="w3-flat-green-sea"><div>Run Alias</div></th>
						<th class="w3-flat-green-sea"><div>Status</div></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

	$(document).ready(function() {
	    table = $('#samples').DataTable({
			scrollX: true,
			"proccessing": true,  "serverSide": true,
    		ajax: {
				url: '/json/samples',
				type: 'POST',
				headers: {
	                'X-CSRF-TOKEN': '{{ csrf_token() }}'
                },
			},
    		"columns": [
				{ "className": 'showTitle', "data": "samplename" },
		        { "className": 'showTitle', "data": "family" },
				{ "className": 'showTitle', "data": "run" },
				{ "className": 'showTitle', "data": "run_alias" },
				{
					"className": 'showTitle ',
					"data": {
						"_": "status",
						"display": function ( data, type, row ) {
							response = "";
							if(data) {
								if (data.status == -1) {
									response = '<span class="w3-text-flat-alizarin"><i title="Error" class="fas fa-times-circle"></i> <i><b>Error</b> - contact admin</i></span>';
								} else if (data.status == 0) {
                                    response = '<span class="w3-text-flat-wet-asphalt"><i class="fas fa-cloud-download-alt"></i> <i><b>Upload</b> - in progress</i></span>';
								} else if (data.status == 1) {
									response = '<span class="w3-text-flat-peter-river"><i class="fas fa-user-clock"></i> <i><b>New</b> - new sample</i></span>';
								} else if (data.status == 2) {
									response = '<span class="w3-text-flat-peter-river"><i class="fas fa-user-edit"></i> <i><b>Process</b> - analysing</i></span>';
								} else if (data.status == 3) {
									response = '<span class="w3-text-flat-emerald"><i class="fas fa-user-check"></i> <i><b>Validate</b> - analysed</i></span>';
								}  else {
                                    response = '<span class="w3-text-flat-orange"><i class="fas fa-exclamation-triangle"></i> <i><b>Warning</b> - contact admin</i></span>';
								}
							}
							return response;
		                },
					}
				}
			],
			"createdRow": function( row, data, dataIndex ) {
			    if ( data.status >= 1 && data.status <= 3) {
					$(row).addClass( 'access' );
			    } else {
					$(row).addClass( 'w3-disabled' );
			    }
			  }
		});

		$('#samples tbody').on( 'click', 'tr', function () {
    		$.ajaxSetup({
    			beforeSend: function(xhr, settings) {
    				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
    					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
    				}
    			}
    		});
			id = table.row( this ).data().id;
			status = table.row( this ).data().status;

    		$.ajax({
    			type: "POST",
    			url: "/toggle/sample/status",
    			data: {
    				"sample_id": id
    			},
                success: function() {
                    document.location.href = "/sample/" + id;
                }
    		});


		} );

		setInterval( function () {
		    table.ajax.reload();
		}, 10000 );

	} );


	// Script to open and close sidebar
	function w3_open() {
		document.getElementById("sidebar").style.display = "block";
		document.getElementById("overlay").style.display = "block";
	}

	function w3_close() {
		document.getElementById("sidebar").style.display = "none";
		document.getElementById("overlay").style.display = "none";
	}
</script>
{% endblock %}
