{% extends 'base.html' %}


{% block content %}
	{% include 'includes/sidebar.j2' %}
	<div class="w3-main" style="margin-left:350px">
		<div class="w3-padding">
			<table id="samples" class="w3-table-all w3-hoverable" style="width:100%">
				<thead>
					<tr class="w3-flat-green-sea">
						<th>Sample Name</th>
						<th>Analysis Status</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="w3-flat-green-sea">
						<th>Sample Name</th>
						<th>Analysis Status</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}


{% block script %}
	$(document).ready(function() {
	    table = $('#samples').DataTable({
			scrollX: true,
    		ajax: '/json/samples',
    		"columns": [
		        { "className": 'showTitle control-size-100', "data": "samplename"},
		        { "className": 'showTitle control-size-150', "data": "analysed"}
			]
		});

		$('#samples tbody').on( 'click', 'tr', function () {
			id = table.row( this ).data().id ;
		    document.location.href = "/sample/" + id;
		} );
	} );


	// Script to open and close sidebar
	function w3_open() {
		document.getElementById("sidebar").style.display = "block";
		document.getElementById("overlay").style.display = "block";
	}

	function w3_close() {
		document.getElementById("sidebar").style.display = "none";
		document.getElementById("overlay").style.display = "none";
	}
{% endblock %}


{% block static %}
	<style>
		tbody tr:hover {
			cursor: pointer;

		}
	</style>
{% endblock %}
