{% extends 'base.html' %}


{% block content %}
	{% include 'includes/sidebar.j2' %}
	<div class="w3-main" style="margin-left:350px">
		<div class="w3-padding">
			<table id="samples" class="w3-table-all w3-hoverable" style="width:100%">
				<thead>
					<tr class="w3-flat-green-sea">
						<th>Sample Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="w3-flat-green-sea">
						<th>Sample Name</th>
						<th>Status</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}


{% block script %}
	$(document).ready(function() {
	    table = $('#samples').DataTable({
			scrollX: true,
    		ajax: '/json/samples',
    		"columns": [
		        { "className": 'showTitle', "data": "samplename"},
		        { "className": 'showTitle w3-center control-size-100', "data": "status"}
			],
			"columnDefs": [
	            {
	                "render": {
						"display": function ( data, type, row ) {
							if (data == -1) {
								response = '<i title="Error" class="w3-text-flat-alizarin fas fa-times-circle"></i>';
							} else if (data == '0') {
								response = '<i title="In Proceedings" class="w3-text-flat-peter-river fa-spin fas fa-circle-notch"></i>';
							} else if (data == 1) {
								response = '<i title="Valid" class="w3-text-flat-emerald fas fa-check-circle"></i>';
							} else {
								response = '<i title="Warning" class="w3-text-flat-orange fas fa-exclamation-triangle"></i>';
							}
							return response;
		                },
						"sort": function ( data, type, row ) {
							return data;
		                },
					},
	                "targets": 1
	            }
			],
		});

		$('#samples tbody').on( 'click', 'tr', function () {
			id = table.row( this ).data().id ;
		    document.location.href = "/sample/" + id;
		} );
	} );


	// Script to open and close sidebar
	function w3_open() {
		document.getElementById("sidebar").style.display = "block";
		document.getElementById("overlay").style.display = "block";
	}

	function w3_close() {
		document.getElementById("sidebar").style.display = "none";
		document.getElementById("overlay").style.display = "none";
	}
{% endblock %}


{% block static %}
	<style>
		tbody tr:hover {
			cursor: pointer;

		}
	</style>
{% endblock %}
